<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Sample for Directive with AngularJS">
        <meta name="author" content="Hoai Nam Vo">

        <title>AngularJS - Directive</title>
        <link rel="shortcut icon" href="/public/favicon.png">

        <!-- Style sheet -->
        <link rel="stylesheet" href="/public/components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="style.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-app="data-directive">
        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="navbar-header">
                    <h2 class="navbar-brand">
                        <a href="/">AngularJS</a>
                    </h2>
                </div>
            </div>
        </header>

        <!-- Timeline -->
        <main class="container" ng-controller="TimelineController">
            <!-- Status box -->
            <section class="status-box">
                <div class="input">
                    <img src="avatar.png" alt="Avatar" class="avatar">
                    <textarea class="status-content" msd-elastic spellcheck="false"
                            placeholder="What's on your mind?" ng-model="paragraph"></textarea>
                </div>
                <div class="toolbar">
                    <img src="insert-image.png" alt="Insert image" class="icon-insert-image">
                    <input type="text" class="link-image" ng-model="image" placeholder="Link to image">
                    <button class="btn btn-primary btn-post" ng-click="postStatus()">Post</button>
                </div>
                <div class="preview" ng-show="image">
                    <img ng-src="{{image}}" alt="Preview">
                </div>
            </section>

            <!-- Statuses -->
            <status ng-repeat="status in timeline | reverse"
                    time="{{status.time}}" paragraph="{{status.paragraph}}" image="{{status.image}}">
        </main>


        <!-- Scripts -->
        <script src="/public/components/angular/angular.min.js"></script>
        <script src="/public/components/angular-elastic/elastic.js"></script>
        <script src="index.js"></script>
    </body>
</html>