/* Primary */
body {
    padding-top: 52px;
}

/* Navbar */
.navigation {
    background-color: rgb(25,118,210);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navigation .navbar-header {
    width: 100%;
    margin: 0 auto;
}

.navigation .navbar-brand {
    margin: 0;
    padding: 0;
    height: inherit;
}

.navigation .navbar-navigator {
    list-style-type: none;
    margin: 0;
    float: right;
}

.navigation .navbar-navigator > li {
    float: left;
}

.navigation .navbar-navigator > li:hover {
    background-color: rgb(52, 126, 200);
}

.navigation .navbar-navigator > li > a {
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    line-height: 52px;
    padding: 0 16px;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.navigation .navbar-brand img {
    width: 36px;
    height: 36px;
    display: block;
    margin-top: 8px;
}

/* Header */
header.background-sky {
    background: transparent -webkit-linear-gradient(#0143A3, #0273D4) repeat scroll 0% 0%;
    background: transparent linear-gradient(#0143A3, #0273D4) repeat scroll 0% 0%;
    color: #fff;
}

header .background-sf {
    height: calc(100vh - 52px);
    text-align: center;
    background-color: transparent;
    background-image: url("/angular-spa/sf-paper.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center bottom;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 100% auto;
}

header .header-brand {
    margin: 0;
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Introduce versions */
section {
    min-height: calc(50vh - 26px);
    padding-top: 30px;
    padding-bottom: 30px;
}

.introduction .col-logo {
    text-align: right;
    margin-top: 14px;
}

.introduction .info-list {
    list-style-type: none;
}

.introduction .info-list > li {
    line-height: 32px;
}

.angular-2 {
    background: transparent -webkit-linear-gradient(#0143A3, #0273D4) repeat scroll 0% 0%;
    background: transparent linear-gradient(#0143A3, #0273D4) repeat scroll 0% 0%;
    color: #fff;
}

.angular-2 a {
    color: #bdbdbd;
}

@media(max-height: 420px) {
    header .header-brand {
        padding-top: 32px;
    }

    header .header-brand img {
        height: 128px;
    }
}

/* Responsive Design */
@media(max-width: 640px) {
    .navigation .navbar-brand {
        padding: 0 16px;
    }

    .introduction .col-logo {
        text-align: center;
        margin-top: 0;
    }

    section {
        min-height: calc(100vh - 52px);
    }
}